.container {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  min-height: 100vh;
}

.ldireito {
<<<<<<< HEAD
=======
  display: flex;
  justify-content: center;
  align-items: center;
>>>>>>> 65cd21b (att)
  overflow: hidden;
}

.ldireito img {
  width: 100%;
  height: 100%;
<<<<<<< HEAD
  object-fit: cover;
=======
  display: block;
>>>>>>> 65cd21b (att)
}

.lesquerdo {
  background-color: #ede6b3;
<<<<<<< HEAD
  display: grid;
  place-items: center;
  padding: 2rem;
=======
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
>>>>>>> 65cd21b (att)
}

.formulario {
  width: 100%;
<<<<<<< HEAD
  max-width: 40rem;
  display: grid;
  grid-template-rows: auto 1fr;
}

.formulario h1{
  color: #67170c;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.formulario h2{
  color: #67170c;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.formulario h3{
  color: #67170c;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2rem;
=======
  max-width: 40em;
  height: auto;
}

.formulario h1 {
  color: #67170c;
  font-size: 3em;
  margin-top: 8%;
  margin-bottom: 5%;
  text-align: center;
>>>>>>> 65cd21b (att)
}

.formulario label {
  color: #67170c;
<<<<<<< HEAD
  padding-left: 2rem;
=======
  margin-left: 5%;
>>>>>>> 65cd21b (att)
}

form {
  background-color: white;
<<<<<<< HEAD
  border-radius: 3rem;
  padding: 2rem 1rem;
  display: grid;
}

p,
a {
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  text-decoration: none;
}

.informacoes {
  display: grid;
  justify-content: center;
}

.informacoes a {
  text-decoration: underline;
}

.para p {
  text-align: left;
  color:#67170c;
  font-weight: bold;
  margin: 0.5rem;
}

#checkbox {
  width: 90%;
  justify-self: center;
  display: grid;
  grid-template-columns: auto 1fr;
}

#checkbox label {
  padding-left: 0.5rem;
}

#checkbox input {
  justify-self: start;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .ldireito {
    display: none;
  }

  .lesquerdo {
    padding: 1rem;
  }

  .formulario {
    width: 100%;
    margin-bottom: 2rem;
  }

    .formulario img {
    justify-self: center;
    z-index: 2;
  }

  form {
    border-radius: 2rem;
    padding: 2rem 0.8rem;
  }

  .formulario h1 {
    font-size: 1.8rem;
  }

  .formulario h2 {
    font-size: 1.2rem;
  }

  .formulario h3 {
    font-size: 0.95rem;
    margin-bottom: 1.5rem;
  }

  .formulario label {
    width: 90%;
    justify-self: center;

    padding-left: 0;
    text-align: left;
  }

  p,
  a {
    font-size: 0.95rem;
    margin: 1rem 0;
  }

  #checkbox {
    width: 90%;
    gap: 0.5rem;
    align-items: center;
  }

  #checkbox label {
    padding-left: 0;
  }
}
=======
  border-radius: 3em;
  display: flex;
  flex-direction: column;
  margin: 0;
}


span{
  text-align: center;
}

span a{
  text-decoration: none; 
}

#oi a{
 text-decoration: underline; 
}
>>>>>>> 65cd21b (att)
