.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}

.ldireito {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.ldireito img {
  width: 100%;
  height: 100%;
  display: block;
}

.lesquerdo {
  background-color: #ede6b3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.formulario {
  width: 100%;
  max-width: 40em;
  height: auto;
}

.formulario h1{
  color: #67170c;
  font-size: 3em;
  margin-top: 8%;
  margin-bottom: 5%;
  text-align: center;
}

.formulario label {
  color: #67170c;
  margin-left: 5%;
}
form {
  background-color: white;
  border-radius: 3em;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height:37em;
  min-width:100%;
}

form input {
  background-color: #ede6b3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

p,a{
  text-align: center;
  margin-top: 3%;
  text-decoration:none;
}

.informacoes a{
  text-decoration:underline;
}
