# Backend
PORT=3000
SUPABASE_URL=https://seu-projeto.supabase.co
SUPABASE_ANON_KEY=sua-chave-anonima-ficticia
SUPABASE_SERVICE_ROLE_KEY=sua-service-role-key-ficticia
JWT_SECRET = sua-jwt-key
SMTP_HOST = seu-smtp
SMTP_PORT = sua-porta-smtp
SMTP_USER = seu-smtp-user
SMTP_PASS = seu-smtp-password

# Frontend
VITE_API_URL=http://localhost:3000
VITE_SUPABASE_URL=https://seu-projeto.supabase.co
VITE_SUPABASE_ANON_KEY=sua-chave-anonima-ficticia
