PORT=3000
SUPABASE_URL=https://seu-projeto.supabase.co
SUPABASE_ANON_KEY=sua-chave-anonima-ficticia
SUPABASE_SERVICE_ROLE_KEY=sua-service-role-key-ficticia
MINHA_CHAVE_SUPER_SECRETA = b42ad8109312923b374b031d3c597710b8c80a0def542caf0b1a36fdca33e6a8
JWT_SECRET = sua-jwt-key
SMTP_HOST = seu-smtp
SMTP_PORT = sua-porta-smtp
SMTP_USER = seu-smtp-user
SMTP_PASS = seu-smtp-password
