main {
  background-color: #fff8c9;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: auto;
  padding: 5rem 6%;
}

.topo {
  width: 100%;
   padding: 3rem 6%;
  background: #f7f0cfb1;
  border-bottom: 2px solid #d4b46a;
}


.titulo {
  margin: 0;
  color: #67170c;
  font-size: clamp(2rem, 4vw, 4rem);
  font-family: "Jacques Francois", serif;
}

.titulo::after {
  content: "";
  display: block;
  width: 7rem;
  height: 3px;
  margin-top: 1rem;
  background-color: #d4b46a;
  border-radius: 999px;
    margin-bottom: 1.5rem;
}

.descricao{
  color: #67170c;
  text-align: left;
  font-size: 1.2rem;
}

.numero{
font-family: none;
}

.btn{
    background: #67170c;
  border: 0;
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  margin-top: 4%;
}

.btn a {
  text-decoration: none;
  color: #ede6b3;
}

.btn:hover{
    background-color: #ffbb33;
  transition: 0.3s;
}

.erro{
  color:#67170c;
  font-weight: bold;
  margin-bottom: 5%;
}

