.footer {
  display: grid;
  width:100%;
  grid-template-columns: auto 0.5fr 0.5fr auto;
  height:30vh;
  background-color:  #EDE6B3;
}

.logo{
  display:grid;
  place-items:center;
  margin-left:4rem;
}

.social_list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.social_list li {
  margin: 0 1em;
}

/*.social_list li:hover {
  color: #ffbb33;
}*/

.social_list svg {
  font-size: 2em;
  cursor: pointer;
}

.copy_right {
  margin-top: 2em;
}

.copy_right span {
  font-weight: bold;
  /*color: #ffbb33;*/
}

.mapa{
  display:grid;
  place-items:center;
}

.mapalist{
  list-style: none;
}

.mapalist a{
  color: #67170C;
  text-decoration: none;
  white-space: nowrap;
}

.atendimento{
  display:grid;
  place-items:center;
}

.icons{
  display:grid;
  place-items:center;
  margin-right:4rem;
}