.layout {
  min-height: 100vh;
  width: 100%;
}

.areaPrincipal {
  width: 100%;
  min-height: 100vh;
  padding-top: 5rem;
  box-sizing: border-box;
}

.conteudo {
  min-height: calc(100vh - 5rem);
  margin-left: 15.6rem;
  padding: 2rem;
  box-sizing: border-box;
}