.google {
  width: 90%;
  height: 3rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  background-color: #ede6b3;
  border-radius: 0.7rem;
  border: 0.2em solid beige;
  color: #67170c;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.25s;
}

.google:hover {
  background-color: #ffbb33;
  color: #ede6b3;
  transition: 0.3s;
}

.google svg {
  font-size: 1.25rem;
}

@media (max-width: 1024px){
  .google {
    width: 90%;
  }
}
