@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap");

.container {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  min-height: 100vh;
}

.lesquerdo {
  overflow: hidden;
}

.lesquerdo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ldireito {
  background-color: #ede6b3;
  display: grid;
  place-items: center;
  padding: 2rem;
}

.formulario {
  width: 100%;
  max-width: 40rem;
  display: grid;
  grid-template-rows: auto 1fr;
}

.formulario h1 {
  color: #67170c;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-left:0;
  font-family: "Jacques Francois", serif;
}

.formulario h3 {
  font-family: "Jacques Francois", serif;
  color: #67170c;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1.2rem;
}

.formulario label {
  color: #67170c;
  padding-left: 2rem;
  font-family: "Jacques Francois", serif;
}

.formulario img {
  justify-self: end;
  z-index: 2;
}

form {
  background-color: white;
  border-radius: 3rem;
  padding: 2rem 1rem;
  display: grid;
}

.span {
  text-align: center;
  margin-top: 0.3rem;
  color: #67170c;
  font-family: "Jacques Francois", serif;
}

.span a{
  font-family: "Jacques Francois", serif;
}

.erro {
  text-align: center;
}

.erro span {
  white-space: pre-line;
  color:#67170c;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .lesquerdo {
    display: none;
  }

  .ldireito {
    padding: 1rem;
  }

  .formulario {
    margin-bottom: 2rem;
  }

  .formulario h1 {
    font-size: 2rem;
  }

  .formulario h3 {
    font-size: 0.95rem;
    margin-bottom: 1.5rem;
  }

  .formulario img {
    justify-self: center;
    z-index: 2;
  }

  form {
    padding: 2rem 0.5rem;
    border-radius: 2rem;
  }
}
