.containernav{
  display:grid;
  grid-template-columns:auto 1fr;
  align-items:center;
  width:100%;
  background-color:#EDE6B3;
}
.navbar{
  display:grid;
  grid-template-columns:1fr auto;
  align-items:center;
  gap:2rem;
  padding:1rem;
}


.list{
  display:grid;
  grid-auto-flow:column;
  gap:1.2rem;
  justify-content:center;

  list-style:none;
}

.item{
  padding-left:1.4rem;
}

.item a{
  color: #67170C;
  text-decoration: none;
  white-space: nowrap;
}

.item a:hover{
  color: #ffbb33;
}

.logonav{
  display:grid;
  justify-content:center;
  margin-left:4rem;
}

.navbutton{
  display:flex;
  gap:1rem;
  margin-right:4rem;
}

.button{
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:#67170c;
  color:#EDE6B3;
  width:5rem;
  height:2.5rem;
  border-radius:0.5rem;
  text-decoration:none;
}

