.navbar{
    display:flex;
    justify-content: space-between;
    background-color: #EDE6B3;
    padding: 1em;
}

.list{
    display:flex;
    list-style: none;
    align-items:center;
}

.item{
    margin-right: 1em;
}

.item a{
    color: #67170C;
    text-decoration: none;
}

/*.item a:hover{
    color: #ffbb33;
}*/