.containernav{
  display: grid;
  width:100%;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  background-color:  #EDE6B3;
}

.navbar{
    display:grid;
    place-items:center;
    padding: 1em;
}


.list{
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    place-items:center;
    list-style: none;
}

.item{
    padding-left:1.4rem;
}

.item a{
    color: #67170C;
    text-decoration: none;
    white-space: nowrap;
}

.item a:hover{
    color: #ffbb33;
}

.logonav{
  display:grid;
  place-items:center;
}

.navbutton {
  display: grid;
  place-items:center;
}

.button{
  background-color:#67170c;
  color:#EDE6B3;
  padding:0.7rem;
  border-radius:0.4rem;
  width:7rem;
  height:3rem;
  place-content:center;
}

.list .subtemas{
  display:none;
}

.list > li:hover .subtemas{
  display: block;
}
