.btn {
  background-color: #67170c;
  width: 90%;
  padding: 0.7em 1.2em;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 0.7em;
  display: grid;
  justify-self: center;
  margin-top: 1.5rem;
  font-family: "Jacques Francois", serif;
  color: #ede6b3;
}

.btn:hover {
  background-color: #ffbb33;
  transition: 0.3s;
}

.btn_login {
  margin-bottom: 2rem;
}