.sucesso {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-left: 6px solid #3c8d4f;
}

.sucesso p {
  margin: 0.3rem 0 0;
  color: #555;
}

.icone {
  flex-shrink: 0;
  font-size: 2rem;
  color: #3c8d4f;
}

.status {
  margin: 1rem 0 0;
  color: #555;
}

.numero{
  font-family: none;
}